%body
  .head-bar チャットグループが...
  .side-bar
    %ul
      %li.uname 16px bold #FFFFFF
      %li.icons <i class="fa fa-cog" aria-hidden="true"></i> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    .side-bar__bottom
      .groupname 15px #FFFFFF
      .groupname__lastmsg めんばー１
  .chat_head
    .Edit Edit
    .sampleG サンプルグループ
    .sampleG__under MEMBER: MEM_name1
    .chat-area
    .area
      %ul
        %li.user usernameb4time
        %li.timestamp 2017/06/05 15:03
      %ul
        %li.textinchat this is text in chat.
      %ul
        %li.user usernameb4time
        %li.timestamp 2017/06/05 15:03
      %ul
        %li.textinchat this is text in chat.
      %ul
        %li.user usernameb4time
        %li.timestamp 2017/06/05 15:03
      %ul
        %li.textinchat this is text in chat.
      %ul
        %li.user usernameb4time
        %li.timestamp 2017/06/05 15:03
      %ul
        %li.textinchat this is text in chat.
    .writingbox
      .writingbox__where おそらくテキストエリア 右側にボタンを作ろう
      .sendbuttonbox Send
      .pic <i class="fa fa-picture-o" aria-hidden="true"></i>
      